# Preprocessing Data

In [1]:
# Import required packages
import pandas as pd
import matplotlib.pyplot as plt

### Load national data by state

In [2]:
national = pd.read_csv("../10_data/national20212022_PUBLIC_state.csv")
national

/var/folders/0d/23x0hjl172sgh7hhvyngkf9m0000gn/T/ipykernel_44429/929419465.py:1: DtypeWarning: Columns (13,24,33,39,45,52,74,96,98,102,135,151,171,188,219,222,263,345,353,360,365,371,379,387,400,405,417,432,515,521,527,533,539,545,551,558,567,588,589,624,657,675,676,729,759,760,767,786,792,801,815,849,862,883,915,920,922,941,1023,1069,1070,1071,1072,1090,1120,1136,1149,1157,1207,1246,1263,1276,1285,1295,1329,1375,1456,1458,1557,1564,1572,1574,1587,1614,1641,1648,1656,1658,1659,1665,1666,1667,1668) have mixed types. Specify dtype option on import or set low_memory=False.
  national = pd.read_csv("../10_data/national20212022_PUBLIC_state.csv")

,startdate,recordeddate,responseid,age,sex_birth,gender_male,gender_female,gender_transm,gender_transf,sexual_other,...,inst_HMSyear,inst_size,inst_type,inst_public,inst_acarank,inst_geo,inst_specart,inst_speccc,inst_gradrate,inst_state
0,2022-04-11 15:09:58,2022-05-03 09:50:02,R_AuF1Zh0r7wJJY3L,19.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
1,2022-04-17 04:27:57,2022-04-17 04:48:29,R_3nI424DBkE5Ixmt,19.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
2,2022-04-22 09:54:31,2022-04-22 13:49:38,R_32J8GAWh6IOIYxm,20.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
3,2022-04-13 18:48:59,2022-05-03 09:52:47,R_1lizI3iHB2UE7O1,18.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
4,2022-04-21 17:14:42,2022-05-03 09:56:15,R_3ELrwNOuqQ7bzmP,49.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,4,Associate's Colleges,1,7,9,0,1,35,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95855,2022-02-16 13:53:27,2022-03-14 12:42:38,R_2AGs1zFKqyFVWj0,21.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95856,2022-02-28 11:23:31,2022-03-14 12:44:17,R_1LcaZKgoUQLvN1o,20.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95857,2022-02-24 20:04:13,2022-02-24 20:50:35,R_7NYtlZIPoo4LyUh,20.0,2.0,1.0,NaN,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95858,2022-03-01 14:24:55,2022-03-01 21:51:29,R_2Ep0PMy8iM5lXmG,21.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington
95859,2022-03-09 15:11:07,2022-03-09 23:32:03,R_20TiweldPd5RRj5,21.0,1.0,NaN,1.0,NaN,NaN,NaN,...,2021-22,2,Baccalaureate Colleges,0,1,9,0,0,87,Washington

In [10]:
national['inst_state'].unique()

array(['California', 'Washington, D.C.', 'Massachusetts', 'Connecticut',
       'Georgia', 'Texas', 'Ohio', 'Kentucky', 'Idaho', 'Utah', 'Vermont',
       'Tennessee', 'Colorado', 'Oregon', 'New York', 'New Hampshire',
       'Mississippi', 'Pennsylvania', 'Virginia', 'Kansas', 'New Jersey',
       'Indiana', 'Michigan', 'Maryland', 'Minnesota', 'Nebraska',
       'Nevada', 'Rhode Island', 'Illinois', 'Florida', 'Oklahoma',
       'North Carolina', 'Wisconsin', 'Washington'], dtype=object)